
  .nameInput{
      background-color: rgba(189, 113, 113, 0.08);
    box-sizing: border-box;
    border: 1px solid black;
    height: 40px;
    width: 400px;
    padding-left : 10px;
    padding-top : 1px;
    border-radius: 10px;
    font-family: serif;
    color:black;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
   
  }

  
  
  